<section class="wrapper">
    <section class="page_head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                   <nav id="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Pages</li>
                        </ul>
                    </nav>

                    <div class="page_title">
                        <h2>레시피를 만드는 창입니다.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="content left_sidebar">
    <div class="container">
      <div class="row">
        <!--Sidebar Widget-->
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="sidebar">
            <div class="widget widget_search">
              <div class="site-search-area">
                <form method="get" id="site-searchform" action="#">
                  <div>
                    <input class="input-text" name="s" id="s" placeholder="Enter Search keywords..." type="text" />
                    <input id="searchsubmit" value="Search" type="submit" />
                  </div>
                </form>
              </div><!-- end site search -->
            </div>

            <div class="widget widget_categories">
              <div class="widget_title">
                <h4><span>Categories</span></h4>
                </div>
<%= form_tag(recipe_index_path, method: "post") do %>
                    <div class="panel-group accordion" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse01">
                                <i class="switch fa fa-plus"></i>
                                커피
                            </a>
                        </h4>
                    </div>
                    <div id="collapse01" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @coffees.each do |i| %>
                          <div class="slidecontainer">
                            <div class="checkbox">
                              <label><input type="checkbox" name="ing_checkbox" value="ingredient_<%=i.id%>"><%= i.name %></label>
                            <input type="range" min="1" max="100" value="50" class="slider" id="coffeeRange_<%=i.id%>">
                            <p>Value: <span id="ingredient_<%=i.id%>"></span></p>
                          </div>
                          </div>
                          <% end %>


                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <div class="blog_large">
            <article class="post">
              <figure class="post_img">
                <!-- Post Image Slider -->
                <div class="post">
                  <div class="coffee">
                    <div class="handle"></div>
                    <div class="cup">
                      <div class="foam"><span>Milk Foam</span></div>
                      <div class="milk"><span>Steamed Milk</span></div>
                      <div class="water"><span>Water</span></div>
                      <div class="espresso"><span>Espresso</span></div>
                    </div>
                  </div>

                  <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn" data-nav="americano">Americano</button>
                    <button type="button" class="btn" data-nav="latte">Latte</button>
                    <button type="button" class="btn" data-nav="flat-white">Flat White</button>
                    <button type="button" class="btn" data-nav="cappuccino">Cappuccino</button>
                  </div>
                </div>
              </figure>
              <div class="post_date">
                <span class="day">28</span>
                <span class="month">Nov</span>
              </div>
              <div class="post_content">
                <div class="post_meta">
                  <h2>
                    <strong>이름</strong> : <%=text_field_tag 'name' %>
                  </h2>
                  <div class="metaInfo">
                    <span><i class="fa fa-calendar"></i> <a href="#">Nov 28, 2015</a> </span>
                    <span><i class="fa fa-user"></i> By <a href="#">Louis</a> </span>
                    <span><i class="fa fa-tag"></i> <a href="#">Emin</a>, <a href="#">News</a> </span>
                    <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                  </div>
                </div>
                  <strong>설명</strong> : <%=text_field_tag 'comment' %>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-12">
                    <!-- Indicates caution should be taken with this action -->
                    <input type="submit" class="btn btn-warning btn-block" value='저장'>
                </div>
      <%end%>
              <ul class="shares">
                <li class="shareslabel"><h3>Share This Story</h3></li>
                <li><a class="twitter" href="#" data-placement="bottom" data-toggle="tooltip" title="Twitter"></a></li>
                <li><a class="facebook" href="#" data-placement="bottom" data-toggle="tooltip" title="Facebook"></a></li>
                <li><a class="gplus" href="#" data-placement="bottom" data-toggle="tooltip" title="Google Plus"></a></li>
                <li><a class="pinterest" href="#" data-placement="bottom" data-toggle="tooltip" title="Pinterest"></a></li>
                <li><a class="yahoo" href="#" data-placement="bottom" data-toggle="tooltip" title="Yahoo"></a></li>
                <li><a class="linkedin" href="#" data-placement="bottom" data-toggle="tooltip" title="LinkedIn"></a></li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
</section>
<!--end wrapper-->


<input type="hidden" value="slkdflskj" id="test">
                          <script>

                            <% @coffees.each do |i| %>

                            var slider_<%= i.id %> = document.getElementById("coffeeRange_<%=i.id%>");
                            var output_<%= i.id %> = document.getElementById("ingredient_<%= i.id %>");
                            output_<%= i.id %>.innerHTML = slider_<%= i.id %>.value;

                            slider_<%= i.id %>.oninput = function() {
                              output_<%= i.id %>.innerHTML = this.value;
                            }
                          <% end %>
                          var checked_id = [];

                          $(document).on('ready', function(){
                              $('.btn-group button').on('click', function(e){
                                e.preventDefault();
                                $('.coffee').attr('data-type', $(this).attr('data-nav'));
                              }).eq(0).trigger('click');

                              $("[name=ing_checkbox]").on('click', function() {
                                if($(this).prop("checked")) {
                                  // console.log("체크!");

                                  iid = $(this).val().split("_")[1]
                                  checked_id.push(iid);
                                } else {
                                  // console.log("체크ㅌㅌㅌ!");
                                  iid = $(this).val().split("_")[1]
                                  checked_id.delete(iid);
                                }

                                $("#test").val(checked_id);
                              });

                            });
                            </script>
