<!DOCTYPE html>
<html>
  <head>
    <title>Coffee</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="assets/bootstrap/jquery-1.10.2.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="assets/bootstrap/bootstrap.min.js"></script>
    
  </head>

  <body>
    <script>
        $(document).ready(function (){
            
            // 하이라이트 처리
            var highlight = '<%= @highlight %>';

            if (highlight === '') {
                highlight = 'home';
            }
            
            $("#nav-bar").children().each(function (li) {
                
                $(this).removeClass('active');
            });

            if (highlight === 'home') {
                $("#nav_home").addClass("active");
            } else if (highlight === 'orders') {
                $("#nav_pct").addClass("active");
            }
        })
    </script>

    <header id="header">
    <!-- Start header-top -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-lg-7 col-sm-5 top-info">
                    <span><i class="fa fa-phone"></i>Phone: (123) 456-7890</span>
                    <span class="hidden-sm"><i class="fa fa-envelope"></i>Email: mail@example.com</span>
                </div>
                <div class="col-lg-5 col-sm-7 top-info clearfix">
                    <ul>
                        <li><a class="my-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a class="my-tweet" href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a class="my-pint" href=""><i class="fa fa-pinterest"></i></a></li>
                        <li><a class="my-rss" href=""><i class="fa fa-rss"></i></a></li>
                        <li><a class="my-skype" href=""><i class="fa fa-skype"></i></a></li>
                        <li><a class="my-google" href=""><i class="fa fa-google-plus"></i></a></li>
                        <li>
                            <form class="search-bar">
                                <label for="search" class="search-label">
                                    <button class="search-button"><i class="fa fa-search"></i></button><!-- Fix the break-row-bug
                                    --><input type="text" id="search" class="search-input" />
                                </label>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
    
        </div>
    </div>
    <!--/.header-top -->
    
    <div id="menu-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div id="logo">
                        <h1><a href="index.html"><img src="assets/bootstrap/logo.png"/></a></h1>
                    </div>
                </div>
                <!-- Navigation
                ================================================== -->
                <div class="col-lg-9 col-sm-9 navbar navbar-default navbar-static-top container" role="navigation">
                    <!--  <div class="container">-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" id="nav-bar">
                            <li id="nav_home"><a href="index.html"><span class="data-hover"data-hover="home">home</span></a>
                            </li>
    
                            <li id="nav_pct"><a href="#"><span class="data-hover" data-hover="음료">음료</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="elements.html">만들기</a></li>
                                    <!-- <li><a href="/orders">주문하기</a></li> --> 
                                    <li><%= link_to '주문하기', orders_path(:highlight => "orders") %></li>
                                </ul>
                            </li>
    
                            <li><a href="#" ><span class="data-hover" data-hover="pages">Pages</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about.html">About</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about.html">About Us 1</a></li>
                                            <li><a href="about-2.html">About Us 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="sidebar-right.html">Right Sidebar</a></li>
                                    <li><a href="sidebar-left.html">Left Sidebar</a></li>
                                    <li><a href="404-page.html">404 Page</a></li>
                                </ul>
                            </li>
    
                            <li><a href="#"><span class="data-hover" data-hover="Portfolio">Portfolio</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Portfolio Classic</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                                            <li><a href="portfolio_4.html">Portfolio 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="portfolio_masonry_3.html">Portfolio Masnory</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio_masonry_2.html">Masonry portfolio 2</a></li>
                                            <li><a href="portfolio_masonry_3.html">Masonry portfolio 3</a></li>
                                            <li><a href="portfolio_masonry_4.html">Masonry portfolio 4</a></li>
                                        </ul>
                                    </li>
    
                                    <li>
                                        <a href="portfolio_single.html">Portfolio Single</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio_single.html">Portfolio Single 1</a></li>
                                            <li><a href="portfolio_single_2.html">Portfolio Single 2</a></li>
                                            <li><a href="portfolio_single_3.html">Portfolio Single 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
    
                            <li><a href="#"><span class="data-hover" data-hover="blog">Blog</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio_masonry_3.html">Masnory Blog Style</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-masonry-two.html">Blog Masonry 2</a></li>
                                            <li><a href="blog-masonry-three.html">Blog Masonry 3</a></li>
                                            <li><a href="blog-masonry-four.html">Blog Masonry 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="portfolio_masonry_3.html">Classic Blog Style</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-large-image.html">Large Image</a></li>
                                            <li><a href="blog-medium-image.html">Medium Image</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-post.html">Single Post</a></li>
                                </ul>
                            </li>
    
                            <li><a href="#"> <span class="data-hover" data-hover="contact">Contact</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="contact_1.html">Contact 1</a></li>
                                    <li><a href="contact_2.html">Contact 2</a></li>
                                    <li><a href="contact_3.html">Contact 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container -->
    </div>
    <!--/#menu-bar -->
    
    <div class="slider_block">
        <div class="flexslider top_slider">
            <ul class="slides">
                <li class="slide1">
                    <div class="container">
                        <div class="flex_caption1">
    
                            <p class="slide-heading FromTop">Voluptas Assumenda Est </p><br/>
    
                            <p class="sub-line FromBottom">Dolore Magnam Aliquam Quaerat Voluptatem  </p><br/>
    
                            <a href="" class="slider-read FromLeft">Download Now</a>
                        </div>
                        <div class="flex_caption2 FromRight"></div>
                    </div>
                </li>
    
                <li class="slide2">
                    <div class="container">
                        <div class="slide flex_caption1">
                            <p class="slide-heading FromTop">Edge is our theme</p><br/>
    
                            <p class="sub-line FromRight">Dolore Magnam Aliquam Quaerat Voluptatem </p><br/>
    
                            <a href="" class="slider-read FromLeft">Download Now</a>
    
                        </div>
                        <div class="flex_caption2 FromBottom"></div>
                    </div>
                </li>
                <li class="slide3">
                    <div class="container">
                        <div class="slide flex_caption1">
                            <p class="slide-heading FromTop">Easy to Maintain </p><br/>
    
                            <p class="sub-line FromRight">Powerful Features & Responsive Designs </p><br/>
    
                            <a href="" class="slider-read FromLeft">Download Now</a>
    
                        </div>
                        <div class="flex_caption2 FromRight"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </header>
    <!--End Header-->

    
    <%= yield %>

    <!--start footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="widget_title">
                        <h4><span>About Us</span></h4>
                    </div>
                    <div class="widget_content">
                        <p>Donec earum rerum hic tenetur ans sapiente delectus, ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus asperiores.</p>
                        <ul class="contact-details-alt">
                            <li><i class="fa fa-map-marker"></i> <p><strong>Address</strong>: #2021 Lorem Ipsum</p></li>
                            <li><i class="fa fa-user"></i> <p><strong>Phone</strong>:(+91) 9000-12345</p></li>
                            <li><i class="fa fa-envelope"></i> <p><strong>Email</strong>: <a href="#">mail@example.com</a></p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="widget_title">
                        <h4><span>Recent Posts</span></h4>
                    </div>
                    <div class="widget_content">
                        <ul class="links">
                            <li> <a href="#">Aenean commodo ligula eget dolor<span>November 07, 2015</span></a></li>
                            <li> <a href="#">Temporibus autem quibusdam <span>November 05, 2015</span></a></li>
                            <li> <a href="#">Debitis aut rerum saepe <span>November 03, 2015</span></a></li>
                            <li> <a href="#">Et voluptates repudiandae <span>November 02, 2015</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="widget_title">
                        <h4><span>Twitter</span></h4>
    
                    </div>
                    <div class="widget_content">
                        <ul class="tweet_list">
                            <li class="tweet_content item">
                                <p class="tweet_link"><a href="#">@jquery_rain </a> Lorem ipsum dolor et, consectetur adipiscing eli</p>
                                <span class="time">29 September 2015</span>
                            </li>
                            <li class="tweet_content item">
                                <p class="tweet_link"><a href="#">@jquery_rain </a> Lorem ipsum dolor et, consectetur adipiscing eli</p>
                                <span class="time">29 September 2015</span>
                            </li>
                            <li class="tweet_content item">
                                <p class="tweet_link"><a href="#">@jquery_rain </a> Lorem ipsum dolor et, consectetur adipiscing eli</p>
                                <span class="time">29 September 2015</span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget_content">
                        <div class="tweet_go"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="widget_title">
                        <h4><span>Flickr Gallery</span></h4>
                    </div>
                    <div class="widget_content">
                        <div class="flickr">
                            <ul id="flickrFeed" class="flickr-feed"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--end footer-->
    
    <section class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="copyright">&copy; Copyright 2015 Edge | Powered by  <a href="http://www.jqueryrain.com/">jQuery Rain</a></p>
                </div>
    
                <div class="col-sm-6 ">
                    <div class="footer_social">
                        <ul class="footbot_social">
                            <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twtr" href="#." data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="#." data-placement="top" data-toggle="tooltip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="skype" href="#." data-placement="top" data-toggle="tooltip" title="Skype"><i class="fa fa-skype"></i></a></li>
                            <li><a class="rss" href="#." data-placement="top" data-toggle="tooltip" title="RSS"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
