<!DOCTYPE html>
<html>
  <head>
    <title>Coffee</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="assets/bootstrap/jquery-1.10.2.min.js"></script>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
    <script src="assets/bootstrap/bootstrap.min.js"></script>

  </head>
  <body>
    <header id="header">
    <!-- Start header-top -->
    <div class="header-top">
        <div class="container">
        <br>
        </div>
    </div>
    <!--/.header-top -->

    <div id="menu-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div id="logo">
                        <h1><a href="/outlines"><img src="assets/bootstrap/logo.png"/></a></h1>
                    </div>
                </div>
                <!-- Navigation
                ================================================== -->
                <div class="col-lg-9 col-sm-9 navbar navbar-default navbar-static-top container" role="navigation">
                    <!--  <div class="container">-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" id="nav-bar">
                            <li id="nav_home"><a href="/outlines"><span class="data-hover"data-hover="home">home</span></a>
                            </li>
                            <li id="nav_contact"><a href="/outlines"><span class="data-hover"data-hover="서비스">서비스</span></a>
                              <ul class="dropdown-menu">
                                  <li><a href="services.html">서비스</a></li>
                                  <li><a href="faq.html">FAQ</a></li>
                                  <li><a href="sidebar-right.html">연락처</a></li>
                              </ul>
                            </li>
                            <li id="nav_pct"><a href="#"><span class="data-hover" data-hover="음료">음료</span></a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to '만들기',recipe_index_path()%></li>
                                    <li><%= link_to '주문하기', orders_path() %></li>
                                </ul>
                            </li>

                            <li><a href="#" ><span class="data-hover" data-hover="관리자">관리자</span></a>
                                <ul class="dropdown-menu">
                                    <li><%=link_to '재료만들기', new_admin_path()%></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container -->
    </div>
    <!--/#menu-bar -->
    </header>
    <!--End Header-->


    <%= yield %>

  </body>
</html>
