<!DOCTYPE html>
<html>
  <head>
    <title>Coffee</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="assets/bootstrap/jquery-1.10.2.min.js"></script>
    
    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
    <script src="assets/bootstrap/bootstrap.min.js"></script>
    
  </head>
  <body>
    <header id="header">
    <!-- Start header-top -->
    <div class="header-top">
        <div class="container">
        <br>    
        </div>
    </div>
    <!--/.header-top -->
    
    <div id="menu-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div id="logo">
                        <h1><a href="/outlines"><img src="assets/bootstrap/logo.png"/></a></h1>
                    </div>
                </div>
                <!-- Navigation
                ================================================== -->
                <div class="col-lg-9 col-sm-9 navbar navbar-default navbar-static-top container" role="navigation">
                    <!--  <div class="container">-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" id="nav-bar">
                            <li id="nav_home"><a href="/outlines"><span class="data-hover"data-hover="home">home</span></a>
                            </li>
    
                            <li id="nav_pct"><a href="#"><span class="data-hover" data-hover="음료">음료</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="elements.html">만들기</a></li>
                                    <li><%= link_to '주문하기', orders_path() %></li>
                                </ul>
                            </li>
    
                            <li><a href="#" ><span class="data-hover" data-hover="pages">Pages</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about.html">About</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about.html">About Us 1</a></li>
                                            <li><a href="about-2.html">About Us 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="sidebar-right.html">Right Sidebar</a></li>
                                    <li><a href="sidebar-left.html">Left Sidebar</a></li>
                                    <li><a href="404-page.html">404 Page</a></li>
                                </ul>
                            </li>
    
                            <li><a href="#"><span class="data-hover" data-hover="Portfolio">Portfolio</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Portfolio Classic</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                                            <li><a href="portfolio_4.html">Portfolio 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="portfolio_masonry_3.html">Portfolio Masnory</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio_masonry_2.html">Masonry portfolio 2</a></li>
                                            <li><a href="portfolio_masonry_3.html">Masonry portfolio 3</a></li>
                                            <li><a href="portfolio_masonry_4.html">Masonry portfolio 4</a></li>
                                        </ul>
                                    </li>
    
                                    <li>
                                        <a href="portfolio_single.html">Portfolio Single</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio_single.html">Portfolio Single 1</a></li>
                                            <li><a href="portfolio_single_2.html">Portfolio Single 2</a></li>
                                            <li><a href="portfolio_single_3.html">Portfolio Single 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
    
                            <li><a href="#"><span class="data-hover" data-hover="blog">Blog</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio_masonry_3.html">Masnory Blog Style</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-masonry-two.html">Blog Masonry 2</a></li>
                                            <li><a href="blog-masonry-three.html">Blog Masonry 3</a></li>
                                            <li><a href="blog-masonry-four.html">Blog Masonry 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="portfolio_masonry_3.html">Classic Blog Style</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-large-image.html">Large Image</a></li>
                                            <li><a href="blog-medium-image.html">Medium Image</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-post.html">Single Post</a></li>
                                </ul>
                            </li>
    
                            <li><a href=#"> <span class="data-hover" data-hover="contact">MY</span></a>
                                <ul class="dropdown-menu">
                                        <% if user_signed_in? %>
                                            <li><%= link_to '로그아웃', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
                                        <% else %>
                                            <li><%= link_to '로그인', new_user_registration_path %></li>
                                            <li><%= link_to '회원가입', new_user_registration_path%></li>
                                        <% end %>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container -->
    </div>
    <!--/#menu-bar -->
    </header>
    <!--End Header-->

    
    <%= yield %>

  </body>
</html>
